<% var contact = contact || [] %> 

<!DOCTYPE html>
<html lang="en"> 

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="description" content="Name of your web site">
<meta name="author" content="Marketify">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>Shane | Home</title>

<!-- STYLES -->
<link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="css/plugins.css" />
<link rel="stylesheet" type="text/css" href="css/colors.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<!--[if lt IE 9]> <script type="text/javascript" src="js/modernizr.custom.js"></script> <![endif]-->
<!-- /STYLES -->

</head>

<body>
	
	
	<!-- PRELOADER -->
	<div id="preloader">
		<div class="loader_line"></div>
	</div>
	<!-- /PRELOADER -->
	
<!-- WRAPPER ALL -->
<div class="shane_tm_all_wrap" data-magic-cursor="" data-color="black">

	<!-- MAGIC CURSOR VALUES: "", hide -->
	<!-- COLOR VALUES: blue, green, brown, pink, orange, black, white, purple, sky, cadetBlue, crimson, olive, red -->
	
	<!-- MODALBOX NEWS -->
	<div class="shane_tm_modalbox_news">
		<div class="box_inner">
			<div class="close">
				<a href="#"><img class="svg" src="img/svg/cancel.svg" alt="" /></a>
			</div>
			<div class="description_wrap scrollable">
			</div>
		</div>
	</div>
	<!-- /MODALBOX NEWS -->
	
	<!-- MOBILE MENU -->
	<div class="shane_tm_mobile_menu">
		<div class="topbar_inner">
			<div class="container bigger">
				<div class="topbar_in">
					<div class="logo">
		 				<a class="text-warning fs-3 text-dark" style="text-decoration:none; font-weight:bolder;" href="#">rustambek.uz</a>

					</div>
					<div class="my_trigger">
						<div class="hamburger hamburger--collapse-r">
							<div class="hamburger-box">
								<div class="hamburger-inner"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="dropdown">
			<div class="container">
				<div class="dropdown_inner">
					<ul class="anchor_nav">
						<li class="current"><a href="#home">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#portfolio">Portfolio</a></li>
						<li><a href="#blogs">Blogs</a></li>
						<li><a href="#contact">Contact</a></li>
						<li><a href="./login">Login</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- /MOBILE MENU -->
	
	<!-- TOPBAR -->
	<div class="shane_tm_topbar">
		<div class="topbar_inner">
			<div class="logo">
				<a class="text-warning fs-3 text-dark" style="text-decoration:none; font-weight:bolder;" href="#">rustambek.uz</a>

			</div>
			<div class="menu">
				<ul class="anchor_nav">
					<li class="current"><a href="#home">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#portfolio">Portfolio</a></li>
					<li><a href="#blogs">Blogs</a></li>
					<li><a href="#contact">Contact</a></li>
					<li><a href="./login">Login</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<!-- HERO -->
	<div class="shane_tm_hero" id="home" data-style="three"> <!-- data-style values: one,two,three >> Empty is SQUARE shape -->
		<div class="background">
			<div class="image" data-img-url="img/meni_masjid.jpg"></div>
		</div>
		<div class="container">
			<div class="content">
				<div class="name_wrap "><h3 class="d-flex justify-content-between flex-column"><span>Rustambek</span> Mamadaliyev<span class="overlay_effect"></span></h3></div>
				<div class="job_wrap"><span class="job">Fullstack Web Developer<span class="overlay_effect"></span></span></div>
			</div>
			<div class="shane_tm_down" data-skin="dark">
				<div class="line_wrapper">
					<div class="line"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- /HERO -->
	
	<!-- ABOUT -->
	<div class="shane_tm_section" id="about">
		<div class="shane_tm_about">
			<div class="container">
				<div class="about_inner">
					<div class="left">
						<div class="image">
							<img src="img/men.jpg" alt="" />
							<div class="main" data-img-url="img/men.jpg"></div>
						</div>
					</div>
					<div class="right">
						<div class="shane_tm_title">
							<span>About Me</span>
							<h3>Creative web designer based in New York, USA</h3>
						</div>
						<div class="text">
							<p>I'm web designer, and I'm very passionate and dedicated to my work. With 20 years experience as a professional web developer, I have acquired the skills and knowledge necessary to make your project a success. I enjoy every step of the design process, from discussion and collaboration.</p>
						</div>
						<div class="shane_tm_button">
							<a href="img/resume.jpg" download>Download CV</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /ABOUT -->
	
	<!-- PORTFOLIO -->
	<div class="shane_tm_section" id="portfolio">
		<div class="shane_tm_portfolio">
			<div class="container">
				<div class="shane_tm_title">
					<div class="title_flex">
						<div class="left">
							<span>Portfolio</span>
							<h3>Creative Portfolio</h3>
						</div>
						<div class="portfolio_filter">
							<ul>
								<li><a href="#" class="current" data-filter="*">All</a></li>
								<li><a href="#" data-filter=".design">Design</a></li>
								<li><a href="#" data-filter=".branding">Branding</a></li>
								<li><a href="#" data-filter=".photography">Photography</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="shane_tm_portfolio_titles"></div>
				<div class="portfolio_list">
					<ul class="gallery_zoom">
						<li class="design">
							<div class="inner">
								<div class="entry shane_tm_portfolio_animation_wrap" data-title="Sweet Fruit" data-category="Design">
									<a class="zoom" href="img/portfolio/1.jpg">
										<img src="img/placeholders/1-1.jpg" alt="" />
										<div class="main" data-img-url="img/portfolio/1.jpg"></div>
									</a>
								</div>
								<div class="mobile_title">
									<h3>Sweet Fruit</h3>
									<span>Design</span>
								</div>
							</div>
						</li>
						<li class="branding">
							<div class="inner">
								<div class="entry shane_tm_portfolio_animation_wrap" data-title="Good Present" data-category="Branding">
									<a class="popup-youtube" href="https://www.youtube.com/watch?v=ICr_bOuM9Zo">
										<img src="img/placeholders/1-1.jpg" alt="" />
										<div class="main" data-img-url="img/portfolio/2.jpg"></div>
									</a>
								</div>
								<div class="mobile_title">
									<h3>Good Present</h3>
									<span>Branding</span>
								</div>
							</div>
						</li>
						<li class="photography">
							<div class="inner">
								<div class="entry shane_tm_portfolio_animation_wrap" data-title="Ice Cream" data-category="Photography">
									<a class="zoom" href="img/portfolio/3.jpg">
										<img src="img/placeholders/1-1.jpg" alt="" />
										<div class="main" data-img-url="img/portfolio/3.jpg"></div>
									</a>
								</div>
								<div class="mobile_title">
									<h3>Ice Cream</h3>
									<span>Photography</span>
								</div>
							</div>
						</li>
						<li class="design">
							<div class="inner">
								<div class="entry shane_tm_portfolio_animation_wrap" data-title="Black Coffee" data-category="Design">
									<a class="zoom" href="img/portfolio/4.jpg">
										<img src="img/placeholders/1-1.jpg" alt="" />
										<div class="main" data-img-url="img/portfolio/4.jpg"></div>
									</a>
								</div>
								<div class="mobile_title">
									<h3>Black Coffee</h3>
									<span>Design</span>
								</div>
							</div>
						</li>
						<li class="branding">
							<div class="inner">
								<div class="entry shane_tm_portfolio_animation_wrap" data-title="Blue Lemon" data-category="Branding">
									<a class="popup-youtube" href="https://www.youtube.com/watch?v=ICr_bOuM9Zo">
										<img src="img/placeholders/1-1.jpg" alt="" />
										<div class="main" data-img-url="img/portfolio/5.jpg"></div>
									</a>
								</div>
								<div class="mobile_title">
									<h3>Blue Lemon</h3>
									<span>Branding</span>
								</div>
							</div>
						</li>
						<li class="photography">
							<div class="inner">
								<div class="entry shane_tm_portfolio_animation_wrap" data-title="Sweet Cherry" data-category="Photography">
									<a class="zoom" href="img/portfolio/7.jpg">
										<img src="img/placeholders/1-1.jpg" alt="" />
										<div class="main" data-img-url="img/portfolio/7.jpg"></div>
									</a>
								</div>
								<div class="mobile_title">
									<h3>Sweet Cherry</h3>
									<span>Photography</span>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- /PORTFOLIO -->
	
	<!-- SKILLS -->
	<div class="shane_tm_section">
		<div class="shane_tm_skills">
			<div class="container">
				<div class="skills_inner">
					<div class="left">
						<div class="shane_tm_title">
							<h3>I have high skills in developing and programming</h3>
						</div>
						<div class="text">
							<p>I am working on a professional, visually sophisticated and technologically proficient, responsive and multi-functional personal portfolio template Shane.</p>
						</div>
					</div>
					<div class="right">
						<div class="tokyo_progress">
							<div class="progress_inner" data-value="95">
								<span><span class="label">Web Development</span><span class="number">95%</span></span>
								<div class="background"><div class="bar"><div class="bar_in"></div></div></div>
							</div>
							<div class="progress_inner" data-value="80" >
								<span><span class="label">Brand Identity</span><span class="number">80%</span></span>
								<div class="background"><div class="bar"><div class="bar_in"></div></div></div>
							</div>
							<div class="progress_inner" data-value="90">
								<span><span class="label">Logo Design</span><span class="number">90%</span></span>
								<div class="background"><div class="bar"><div class="bar_in"></div></div></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /SKILLS -->
	
	<!-- VIDEO -->
	<div class="shane_tm_section">
		<div class="shane_tm_business_video">
			<div class="bg">
				<div class="image jarallax" data-speed="0" data-img-url="img/portfolio/it_y.jpg"></div>
				<div class="overlay"></div>
			</div>
			<div class="content">
				<span class="rounded"><a class="popup-youtube" href="https://www.youtube.com/watch?v=iIrSCm_0Sj4"></a></span>
				<h3 class="text">I am delivering beautiful digital products for my clients</h3>
				<div class="shane_tm_video_button">
					<a class="popup-youtube" href="https://www.youtube.com/watch?v=ICr_bOuM9Zo">Watch Video</a>
				</div>
			</div>
		</div>
	</div>
	<!-- /VIDEO -->

	<!-- PARTNERS -->
	<div class="shane_tm_section">
		<div class="shane_tm_partners">
			<div class="container">
				<div class="partners_inner">
					<ul class="owl-carousel">
						<li class="item"><a href="#"><img src="img/partners/1.png" alt="" /></a></li>
						<li class="item"><a href="#"><img src="img/partners/2.png" alt="" /></a></li>
						<li class="item"><a href="#"><img src="img/partners/3.png" alt="" /></a></li>
						<li class="item"><a href="#"><img src="img/partners/4.png" alt="" /></a></li>
						<li class="item"><a href="#"><img src="img/partners/5.png" alt="" /></a></li>
						<li class="item"><a href="#"><img src="img/partners/6.png" alt="" /></a></li>
						<li class="item"><a href="#"><img src="img/partners/7.png" alt="" /></a></li>
						<li class="item"><a href="#"><img src="img/partners/8.png" alt="" /></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- /PARTNERS -->
	
	<!-- TESTIMONIALS -->
	<div class="shane_tm_section">
		<div class="shane_tm_testimonials">
			<div class="container">
				<div class="testimonials_inner">
					<div class="left">
						<div class="shane_tm_title">
							<span>Testimonials</span>
							<h3>What clients say about my portfolio template</h3>
						</div>
					</div>
					<div class="right">
						<ul class="owl-carousel">
							<li class="item">
								<div class="texts">
									<p>We were looking for a logo with a touch of modernism. Arlo grasped our needs and produced a stunning design. Awesome to work with Arlo. Incredibly organized, easy to communicate with, responsive with next iterations.</p>
									<div class="author">
										<div class="image">
											<div class="main" data-img-url="img/about/1.jpg"></div>
										</div>
										<div class="short">
											<h3 class="author"><span>Justin Bieber</span></h3>
											<h3 class="job"><span>Photographer</span></h3>
										</div>
									</div>
								</div>
							</li>
							<li class="item">
								<div class="texts">
									<p>I purchased the theme a few weeks ago. I had some issues with the theme, I asked customer support to help me with and they were helpful and kind to help me with all my problems. I definitely recommend this theme to everyone.</p>
									<div class="author">
										<div class="image">
											<div class="main" data-img-url="img/about/2.jpg"></div>
										</div>
										<div class="short">
											<h3 class="author"><span>Teodor Federico</span></h3>
											<h3 class="job"><span>Freelancer</span></h3>
										</div>
									</div>
								</div>
							</li>
							<li class="item">
								<div class="texts">
									<p>Really the Code, Support, and design are awesome and its good support they are giving. They give an instant solution to our needs. Really awesome. I will strongly recommend to my friends. Great template, even better service!</p>
									<div class="author">
										<div class="image">
											<div class="main" data-img-url="img/about/3.jpg"></div>
										</div>
										<div class="short">
											<h3 class="author"><span>Bauen Fernandes</span></h3>
											<h3 class="job"><span>Web Developer</span></h3>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /TESTIMONIALS -->
	
	<!-- NEWS -->
	<div class="shane_tm_section" id="blogs">
		<div class="shane_tm_news">
			<div class="container">
				<div class="shane_tm_title">
					<span>Blogs</span>
					<h3>Latest Blogs</h3>
				</div>
				<div class="news_list">
					<ul>
						<li>
							<div class="list_inner">
								<div class="image">
									<img src="img/xusanboy_Aka.jpg" alt="" />
									<div class="main" data-img-url="img/xusanboy_Aka.jpg"></div>
									<a class="shane_tm_full_link" href="#"></a>
								</div>
								<div class="details">
									<h3 class="title"><a href="#">Sayt juda zo'r chiqibdi qoyil.Blog uchun idea zo'r ekan</a></h3>
									<p class="date">By <a href="#">Sarvarjon Amriyev</a> <span>13/09/21</span></p>
								</div>
								<div class="description">
									<p>As Vintage decided to have a closer look into fast-paced New York web design realm in person, we get to acquaint with most diverse and exceptionally captivating personalities. As Vintage decided to have a closer look into fast-paced New York web design realm in person, we get to acquaint with most diverse and exceptionally captivating personalities. As Vintage decided to have a closer look into fast-paced New York web design realm in person, we get to acquaint with most diverse and exceptionally captivating personalities.</p>
									<blockquote>As Vintage decided to have a closer look into fast-paced New York web design realm in person. As Vintage decided to have a closer look into fast-paced New York web design realm in person, we get to acquaint with most diverse and exceptionally captivating personalities. As Vintage decided to have a closer look into fast-paced New York web design realm in person, we get to acquaint with most diverse and exceptionally captivating personalities.</blockquote>
									<p>As Vintage decided to have a closer look into fast-paced New York web design realm in person, we get to acquaint with most diverse and exceptionally captivating personalities. We encounter professionals with careers to covet and lives to write books about. As Vintage decided to have a closer look into fast-paced New York web design realm in person, we get to acquaint with most diverse and exceptionally captivating personalities. As Vintage decided to have a closer look into fast-paced New York web design realm in person, we get to acquaint with most diverse and exceptionally captivating personalities. As Vintage decided to have a closer look into fast-paced New York web design realm in person, we get to acquaint with most diverse and exceptionally captivating personalities.</p>
									<div class="share">
										<span>Share:</span>
										<ul class="social">
											<li><a href="#"><img class="svg" src="img/svg/social/facebook.svg" alt="" ></a></li>
											<li><a href="#"><img class="svg" src="img/svg/social/twitter.svg" alt="" ></a></li>
											<li><a href="#"><img class="svg" src="img/svg/social/behance.svg" alt="" ></a></li>
											<li><a href="#"><img class="svg" src="img/svg/social/dribbble.svg" alt="" ></a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="list_inner">
								<div class="image">
									<img src="img/Elnur.jpg" alt="" />
									<div class="main" data-img-url="img/Elnur.jpg"></div>
									<a class="shane_tm_full_link" href="#"></a>
								</div>
								<div class="details">
									<h3 class="title"><a href="#">Do'st kuchaydiz o'zi, uje kuchaydiz lekin</a></h3>
									<p class="date">By <a href="#">Elnurjon Ro'zmanov</a> <span>11/09/21</span></p>
								</div>
								<div class="description">
									<p>As Vintage decided to have a closer look into fast-paced New York web design realm in person, we get to acquaint with most diverse and exceptionally captivating personalities. As Vintage decided to have a closer look into fast-paced New York web design realm in person, we get to acquaint with most diverse and exceptionally captivating personalities. As Vintage decided to have a closer look into fast-paced New York web design realm in person, we get to acquaint with most diverse and exceptionally captivating personalities.</p>
									<blockquote>As Vintage decided to have a closer look into fast-paced New York web design realm in person. As Vintage decided to have a closer look into fast-paced New York web design realm in person, we get to acquaint with most diverse and exceptionally captivating personalities. As Vintage decided to have a closer look into fast-paced New York web design realm in person, we get to acquaint with most diverse and exceptionally captivating personalities.</blockquote>
									<p>As Vintage decided to have a closer look into fast-paced New York web design realm in person, we get to acquaint with most diverse and exceptionally captivating personalities. We encounter professionals with careers to covet and lives to write books about. As Vintage decided to have a closer look into fast-paced New York web design realm in person, we get to acquaint with most diverse and exceptionally captivating personalities. As Vintage decided to have a closer look into fast-paced New York web design realm in person, we get to acquaint with most diverse and exceptionally captivating personalities. As Vintage decided to have a closer look into fast-paced New York web design realm in person, we get to acquaint with most diverse and exceptionally captivating personalities.</p>
									<div class="share">
										<span>Share:</span>
										<ul class="social">
											<li><a href="#"><img class="svg" src="img/svg/social/facebook.svg" alt="" ></a></li>
											<li><a href="#"><img class="svg" src="img/svg/social/twitter.svg" alt="" ></a></li>
											<li><a href="#"><img class="svg" src="img/svg/social/behance.svg" alt="" ></a></li>
											<li><a href="#"><img class="svg" src="img/svg/social/dribbble.svg" alt="" ></a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="list_inner">
								<div class="image">
									<img src="img/muhammadyunus.jpg" alt="" />
									<div class="main" data-img-url="img/muhammadyunus.jpg"></div>
									<a class="shane_tm_full_link" href="#"></a>
								</div>
								<div class="details">
									<h3 class="title"><a href="#">Sayt juda zo'r chiqibdi qoyil.Blog uchun idea zo'r ekan</a></h3>
									<p class="date">By <a href="#">Muhammadyunus</a> <span>11/09/21</span></p>
								</div>
								<div class="description">
									<p>As Vintage decided to have a closer look into fast-paced New York web design realm in person, we get to acquaint with most diverse and exceptionally captivating personalities. As Vintage decided to have a closer look into fast-paced New York web design realm in person, we get to acquaint with most diverse and exceptionally captivating personalities. As Vintage decided to have a closer look into fast-paced New York web design realm in person, we get to acquaint with most diverse and exceptionally captivating personalities.</p>
									<blockquote>As Vintage decided to have a closer look into fast-paced New York web design realm in person. As Vintage decided to have a closer look into fast-paced New York web design realm in person, we get to acquaint with most diverse and exceptionally captivating personalities. As Vintage decided to have a closer look into fast-paced New York web design realm in person, we get to acquaint with most diverse and exceptionally captivating personalities.</blockquote>
									<p>As Vintage decided to have a closer look into fast-paced New York web design realm in person, we get to acquaint with most diverse and exceptionally captivating personalities. We encounter professionals with careers to covet and lives to write books about. As Vintage decided to have a closer look into fast-paced New York web design realm in person, we get to acquaint with most diverse and exceptionally captivating personalities. As Vintage decided to have a closer look into fast-paced New York web design realm in person, we get to acquaint with most diverse and exceptionally captivating personalities. As Vintage decided to have a closer look into fast-paced New York web design realm in person, we get to acquaint with most diverse and exceptionally captivating personalities.</p>
									<div class="share">
										<span>Share:</span>
										<ul class="social">
											<li><a href="#"><img class="svg" src="img/svg/social/facebook.svg" alt="" ></a></li>
											<li><a href="#"><img class="svg" src="img/svg/social/twitter.svg" alt="" ></a></li>
											<li><a href="#"><img class="svg" src="img/svg/social/behance.svg" alt="" ></a></li>
											<li><a href="#"><img class="svg" src="img/svg/social/dribbble.svg" alt="" ></a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<% for(let item of contact.reverse()) { %>

							<li>
								<div class="list_inner">
									<div class="image">
										
										<img src="/files/<%= item.file %>" alt="">
										<div class="main" data-img-url="/files/<%= item.file %>">
										
										</div>
										<a class="shane_tm_full_link" href="#"></a>
									</div>
									<div class="details">
										<h3 class="title"><a href="#"> <%= item.textarea  %></a></h3>
										<p class="date">By <a href="#"> <%= item.name  %></a> 
											<span>  <%= item.time  %></span></p>
									</div>
									
								</div>
							</li>

						<% } %>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- /NEWS -->
	
	<!-- TALK -->
	<div class="shane_tm_section" id="contact">
		<div class="shane_tm_talk">
			<div class="shape">
				<img class="svg" src="img/svg/paper.svg" alt="" />
			</div>
			<div class="background" id="talk">
				<a class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=l6JN5M12BbE',containment:'#talk',autoPlay:true, loop:true, showControls:false, mute:true, startAt:0,opacity:1, quality:'default'}"></a>
				<div class="overlay"></div>
			</div>
			<div class="talk_inner">
				<div class="text">
					<h3>Let's work together!</h3>
				</div>
				<div class=" d-flex justify-content-center align-items-center flex-column w-50" >
						<!-- <button  type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#contactModal">Contact us</button> -->
						<div class="modal-content  text-warning" style="background-color:black; ">  
							<div class="modal-header ">
								<h2 class="text-warning">Contact us</h2>
								
							 
							</div>
							<div class="modal-body mb-3 bg-dark">
								<form method="POST" class="p-3 m-3" action="/contact"  enctype="multipart/form-data" >
									<div class="row">
								<label class="my-2 fs-4"  for="email">Contact name 
												</label>
												<input required class="mb-0 form-control col-10" id="name" type="text"name="name" placeholder="Name">
												<label class="my-2 mt-4 fs-4"  for="password">Image</label>
												
												<input   class="mb-0 form-control col-10" id="file" type="file" name="file" required>
												
												  <label for="floatingTextarea"class="my-2  mt-3 fs-4"  for="textarea">Comments</label>
												  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="textarea" required></textarea>
												  
												
												<button type="submit"  class="btn btn-outline-warning mt-4 fw-800 col-12">Send Messages</button>
												
												<!-- <button type="button" class="btn btn-outline-primary mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
													Login
												  </button> -->
										</div>

								</form>
							</div>
					
						  </div>

				</div>
			</div>
		</div>
	</div>
	
	<div class="shane_tm_section">
		<div class="shane_tm_copyright">
			<div class="container">
				<div class="inner">
					<p>&copy; 2021 by <a href="https://themeforest.net/user/marketify" target="_blank">marketify</a>. All rights reserved.</p>
				</div>
			</div>
		</div>
	</div>





		

	<!-- /COPYRIGHT -->

	<!-- CURSOR -->
	<div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>
	<!-- /CURSOR -->
	
</div>



	
<!-- SCRIPTS -->
<script src="js/jquery.js"></script>
<!--[if lt IE 10]> <script type="text/javascript" src="js/ie8.js"></script> <![endif]-->	
<script src="js/plugins.js"></script>
<script src="js/init.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5bpEs3xlB8vhxNFErwoo3MXR64uavf6Y&callback=initMap"></script>
<!-- /SCRIPTS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>